:root{
    --mainBlue: #01579b;
    --LightBlue: #03a9f4;
    --mainWhite: #bdbdbd;
    --mainDark: #212121;
    --mainYellow: #ffc107;
}

body{
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.text-title{
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.text-blue{
    color: var(--mainBlue);
}

.text-bright{
    color: var(--LightBlue);
}

.cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}